{
  "env": {
    "node": true,
    "mocha": true,
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "camelcase": 0,
    "arrow-body-style": 0,
    "class-methods-use-this": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/imports-first": 0
  }
}
